<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.kingofmath2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:name=".Utils.ParseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:icon="@drawable/logo2"
        android:label="KingOfMath"
        android:theme="@style/AppTheme2" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity android:name=".Acitivities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Acitivities.MenuActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait">
        </activity>

        <intent-filter>
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <activity
            android:name=".Acitivities.MultiplayerActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait">
        </activity>

        <intent-filter>
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <activity
            android:name=".Acitivities.ListquizActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait">
        </activity>

        <intent-filter>
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <activity
            android:name=".Acitivities.QuizGameActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait">
        </activity>

        <intent-filter>
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <activity
            android:name=".Acitivities.LeaderBoardActivity"
            android:label="@string/title_activity_leader_board"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Acitivities.AdventureActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Acitivities.GameActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Acitivities.StatisticActivity"
            android:label="@string/title_activity_statistic"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Acitivities.Tutorial_Activity"
            android:label="@string/title_activity_tutorial_"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
